---
title: Tags
layout: default
description: 按主题查看全部文章
header-img: "img/tag-bg.jpg"
---

<!-- Page Header -->
<header class="intro-header" style="background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading" id="tag-heading">
                    <h1>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>
                    <span class="subheading">{{ page.description }}</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <section class="tags-intro">
			    <div id='tag_cloud' class="tags">
				    {% for tag in site.tags %}
				    <a href="#{{ tag[0] }}" title="{{ tag[0] }}" rel="{{ tag[1].size }}">{{ tag[0] }} <small>{{ tag[1].size }}</small></a>
				    {% endfor %}
			    </div>
            </section>

            <section class="series-overview tags-series-overview">
                {% for group in site.data.series %}
                <a class="series-overview-card" href="{{ '/series/#' | prepend: site.baseurl }}{{ group.slug }}">
                    <strong>{{ group.title }}</strong>
                    <span>{{ group.description }}</span>
                </a>
                {% endfor %}
            </section>

            <div class="tag-groups">
			    {% for tag in site.tags %}
			    <section class="tag-group-card" id="{{ tag[0] }}">
			  	    <div class="tag-group-head">
                        <span class="fa fa-tag listing-seperator">
                            <span class="tag-text">{{ tag[0] }}</span>
                        </span>
                        <em>{{ tag[1].size }} 篇</em>
                    </div>
                    <div class="tag-group-posts">
				        {% for post in tag[1] %}
                            {% include post-summary-card.html post=post compact=true show_preview=false %}
				        {% endfor %}
                    </div>
			    </section>
			    {% endfor %}
            </div>

		</div>
	</div>
</div>
